name: .NET Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  NUGET_AUTH_TOKEN: ${{secrets.GPR_TOKEN}}

jobs:
  build-dotnet:
    name: Build .NET project
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2
    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v1.0.0
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.2
      with:
        nuget-version: latest
        #nuget-api-key: ${{ secrets.NUGET_API_KEY }}
    - name: add GPR as a package sources
      run: nuget source Add -Name "GPR" -Source ${{ secrets.GPR_URI }} -UserName ${{ secrets.GPR_USERNAME }} -Password ${{ secrets.GPR_TOKEN }}
    - name: msbuild
      run: msbuild -restore:True -p:Configuration=Release
    - uses: actions/upload-artifact@v1
      with:
        name: UnityDLL
        path: unity/Assets/Runtime/
    - uses: actions/upload-artifact@v1
      with:
        name: PluginFiles
        path: GameData

  build-unitybundle:
    name: Build Unity Asset Bundles
    runs-on: ubuntu-latest
    needs: build-dotnet
    steps:
    # Checkout
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        lfs: true

    # Cache
    - uses: actions/cache@v1.1.0
      with:
        path: unity/Library
        key: Library
    - name: Download UnityDLL from dotnet build
      uses: actions/download-artifact@v2
      with:
        # Artifact name
        name: UnityDLL
        # Destination path
        path: unity/Assets/Runtime/
    - name: Download Plugin Files
      uses: actions/download-artifact@v2
      with:
        # Artifact name
        name: PluginFiles
        # Destination path
        path: GameData
    # Build
    - name: Build project
      uses: webbertakken/unity-builder@v1.0
      with:
        projectPath: ./unity
        unityVersion: 2019.2.2f1
        targetPlatform: StandaloneWindows
        buildMethod: AssetBundleBuilder.RunAssetBuild
        #customParameters: "-accept-apiupdate -batchmode"
    # Output 
    - uses: actions/upload-artifact@v1
      with:
        name: AssetBundle
        path: GameData
# TODO: Add make-release and so forth
